@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Lighgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background-color: var(--Lighgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-color: var(--White);
    padding: .9em;
    border-radius: 15px;
    width: 18.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.277);}
.box img{
    max-width: 100%;
    border-radius: 15px;
}

h3{
    margin: .9em;
    color: var(--Darkblue);
} 

p{
    margin: .9em;
    font-size: 15px;
    color: var(--Grayishblue);
}

footer{
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer a{
    color: hsl(228, 45%, 44%); 
}